/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: sans-serif;
} 

/* HEADER */
header {
    width: 100%;
    height: 250px;
}

#header-title {
    background-color: #002969;

    padding: 0.5rem 0 1.25rem;
}


h1 {
    margin-right: 2rem;

    text-align: center;
    font-size: 2.5rem;
    color: #f8f9fa;
}

/* BODY */
#header-menu {
    margin-top: 0;
    height: 100px;
}

#unifor-logo-footer {
    width: 250px;
    height: 250px;
}

#menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#unifor-logo-header {
    width: 250px;
    height: 250px;
}

/* FOOTER */
footer {
    background-color: #002969;

    color: #fff;
}

#footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-menu-social-media {
    margin-left: 5rem;
}

#unifor-logo-header {
    width: 250px;
    height: 250px;
}

table  tbody{
    display: block;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-icons {
    width: 30px;
    height: 30px;
}

#social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 0.8rem;
}

.social-media-icons {
    width: 20px;
    height: 20px;
}

#unifor-logo-footer {
    margin-right: 5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#unifor-logo {
    width: 250px;
    height: 250px;
}