/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

:root {
    --primary: #002969;
    --light: #f8f9fa;
    --white: #fff;
}

/* HEADER */
header {
    width: 100%;
    height: 250px;

    display: inline-block;

    margin-bottom: 3rem;
}

#header-title {
    background-color: var(--primary);

    padding: 0.5rem 0 1.25rem;
}

h1 {
    margin-right: 2rem;

    text-align: center;
    font-size: 2.5rem;
    color: var(--light);
}

#navbar {
    position: absolute;
    width: 100%;
    min-height: 4rem;
    z-index: 3;
    top: 0;
}

#navbar-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#unifor-logo-header {
    width: 250px;
    height: 250px;
}

#header-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-list .li {
    color: var(--primary);

}

/* BODY */




/* FOOTER */
footer {
    background-color: var(--primary);

    color: var(--white);

    width: 100%;

}

#footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-menu-social-media {
    margin-left: 5rem;
}

#unifor-logo-header {
    width: 250px;
    height: 250px;
}

h5 {
    font-size: 1rem;
}

.contact-info-description {
    text-align: left;
}

.contact-info-content {
    text-align: right;
}

.contact-icons {
    width: 30px;
    height: 30px;
}

#social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 0.8rem;
}

.social-media-icons {
    width: 20px;
    height: 20px;
}

#unifor-logo-footer {
    margin-right: 5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#unifor-logo {
    width: 250px;
    height: 250px;
}