/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

:root {
    --primary: #002969;
    --light: #f8f9fa;
    --white: #fff;
}

/* HEADER */
header {
    width: 100%;
    height: 150px;
}

#header-background {
    background-color: var(--primary);

    padding: 0.5rem 0 1.25rem;
}

#navbar {
    position: absolute;
    width: 100%;
    top: 0;

    height: 180px;
}

#navbar-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#unifor-logo-header {
    width: min-content;
    height: 150px;
}

#unifor-logo-header {
    margin-left: 1rem;
}

.navbar-links {
    text-decoration: none;
 
    font-size: 20px;
    font-weight: bold;
    color: var(--primary);
    background:  var(--white);

    padding: 1rem;
    border: 2px var(--primary) solid;
    border-radius: 0.25rem;

    cursor: pointer;

    margin-right: 1rem;
}

.navbar-links:hover {
    color: var(--light);
    background:  var(--primary);
}

/* BODY */
main {
    margin: 2rem 5rem;
}

h1 {
    margin: 2rem;

    text-align: center;
    font-size: 2.5rem;
    color: var(--primary);
}


/* FOOTER */
footer {
    background-color: var(--primary);

    color: var(--white);

    width: 100%;

}

#footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-menu-social-media {
    margin-left: 5rem;
}

h5 {
    font-size: 1rem;
}

#social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 0.8rem;
}

.social-media-icons {
    width: 20px;
    height: 20px;
}

.contact-info-description {
    text-align: left;
}

.contact-info-content {
    text-align: right;
}

#unifor-logo-footer {
    margin-right: 5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#unifor-logo {
    width: 250px;
    height: 250px;
}